
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Biográfia 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Biográfia </ion-title>
    </ion-toolbar>
  </ion-header>
  <br>



  <!-- item 2 -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Quien Soy:</ion-card-title>
    </ion-card-header>
    <br>
    <ion-card-content>
      Mi nombre es Cristian Fernando Paredes Cacuango <br>
      Soy una persona responsable, me gustan los retos e ir aprendiendo progresivamente de ellos para adquirir nuevos conocimientos. Me gusta trabajar en equipo y 
      me adapto rápidamente a las actividades que debo realizar. <br>
      Soy proactivo y siempre trato de resolver las tareas asignadas en el tiempo establecido cumpliendo con los objetivos planteados. 

    </ion-card-content>
  </ion-card>
  <br>


  
  <!-- Lista de información item 3 -->
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Teléfono</ion-label>
      <ion-text>(+593) 995307713</ion-text>
      <br>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Ciudad</ion-label>
      <ion-text>Quito, Ecuador</ion-text>
      <br>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Direccion</ion-label>
      <ion-text>Av. Simón Bolívar Y Barrio El Común</ion-text>
      <br>
    </ion-item>
   
    
  </ion-list>

  <!-- Sección de Educación  item 4 -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Estudios realizados a lo largo de la vida:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Bachiller en Ciencias</ion-label>
          <ion-text>  
            <br>
              Colegio Nacional Pomasqui, Quito (2018)</ion-text>
            <br>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Tecnología Superior en Desarrollo de Software</ion-label>
          <ion-text>
            <br>
              Escuela Politécnica Nacional (2021 - presente)</ion-text><br>
        </ion-item>
        
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Experiencia Laboral item 5 -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Experiencia Prefecional que realizo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">S.M. SMART</ion-label>
          <ion-text>Marketing y Ventas S.M. SMART (2019)</ion-text>
          <ion-note slot="end">Creación de un plan de marketing y control de resultados</ion-note>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Betapharma S.A.</ion-label>
          <ion-text>Operador Farmaceutico en Betapharma  (2019 - 2021)</ion-text>
          <ion-note slot="end">Fabricacion de capsulas e inyectables </ion-note>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Progracademy S.A.</ion-label>
          <ion-text>Coaching Progracademy S.A (2024)</ion-text>
          <ion-note slot="end">Sesiones educativas para estudiantes de 8 a 14 años</ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Habilidades -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Habilidades</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Programación</ion-label>
          <ion-text>C++, JavaScript, Next.js, Python</ion-text>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Gestión de Proyectos</ion-label>
          <ion-text>Liderazgo y trabajo en equipo</ion-text>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Diseño de Interfaces</ion-label>
          <ion-text>Maquetado y usabilidad</ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!--  Certificaciones -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Reconocimientos a lo largo de sus estudios</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Curso en Ciencias Administrativas y Económicas</ion-label>
          <ion-text>(Septiembre 2018)</ion-text>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Certificado en Excel</ion-label>
          <ion-text> (Octubre 2023)</ion-text>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Operario Farmacéutico</ion-label>
          <ion-text> (Noviembre 2021)</ion-text>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Coaching Progrcademy </ion-label>
          <ion-text>(Marzo 2024)</ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

<!--ITEM 11 -->
<div class="container" ion-content color="light">
  <ion-list [inset]="true">
    <div class="info-container">
      <ion-card-title>Competencias</ion-card-title>
    </div>
    <ion-item>
      <ion-label>Creativo</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Responsable</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Organizado</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Perseverante</ion-label>
    </ion-item>
  </ion-list>
</div>

<!-- item 12-->
<br />
<div class="info-container">
  <ion-card-title>Conocimineto en</ion-card-title>
</div>
<br />
<br />
<ion-chip color="primary">SQL Mangment</ion-chip>
<ion-chip color="secondary">Python</ion-chip>
<ion-chip color="tertiary">C++</ion-chip>
<ion-chip color="success">Java</ion-chip>
<ion-chip color="warning">React</ion-chip>
<ion-chip color="danger">Node.js</ion-chip>

  <!-- items finales -->
   <ion-button size="large" color="facebook" href="https://www.facebook.com" target="_blank">
    <ion-icon slot="start" name="logo-facebook"></ion-icon>
    Facebook
  </ion-button>
  
  <ion-button size="large" color="twitter" href="https://www.twitter.com" target="_blank">
    <ion-icon slot="start" name="logo-twitter"></ion-icon>
    Twitter
  </ion-button>

  <ion-button size="large" color="instagram" href="https://www.instagram.com" target="_blank">
    <ion-icon slot="start" name="logo-instagram"></ion-icon>
    Instagram
  </ion-button>

  <ion-button size="large" color="linkedin" href="https://www.linkedin.com" target="_blank">
    <ion-icon slot="start" name="logo-linkedin"></ion-icon>
    LinkedIn
  </ion-button>
